* {
    box-sizing: border-box;
}

html, body {
    margin: 0; 
    padding: 0;
    overflow-x: hidden;
}

body, ul, li {
    margin:0;
    padding:0;
}

body {
    position: relative;
    background-image: url(images/capstone-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

a {
    font-family: 'Bebas Neue', cursive;
}

.hidden {
    display: none;
}


.container header h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 19px;
    margin: 0;
    color: #EBDB53;
    text-transform: uppercase;
}

.container header {
    top: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(71, 98, 158, .6);
    position: fixed;
}

.wrap {
    margin: 25% 0 10px 0;
    background-color: rgba(235, 219, 83, .6);
    padding: 25px;
    border-radius: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.wrap:hover {
    background-color: rgba(235, 219, 83, .8); 
}

.wrap h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #22304D;
}

input, ::placeholder, .wrap .search-button {
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
}
.search-button {
    box-sizing: border-box;
    appearance: none;
    background-color: #5E8AEB;
    border-radius: 50%;
    cursor: pointer;
    font-size: 17px;
    line-height: 1;
    margin: 13px;
    padding: 1em 2em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    border-color: #5E8AEB;
    color: #fff;
    box-shadow: 0 0 40px 40px #47629E inset, 0 0 0 0 #47629E;
    transition: all 150ms ease-in-out;
}

.search-button:hover {
    box-shadow: 0 0 10px 0  inset, 0 0 10px 4px #82289E;
}

input[type=text] {
    font-size: 15px;
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 13px;
    background: rgba(34,48,77,0.5);
    margin: 0 0 7px 0;
}


input[type=text]:focus{
    outline: none;
    box-shadow: 0 0 0 2px #5E8AEB; 
}


.display-results {
    margin-top: 3rem;
}

.display-results .display-petitions ul, .display-results .display-news ul{
    list-style-type: none;
}

.petitions-wrap .petitions-header, .news-wrap .news-header {
    background-color: rgba(197,70,235,0.2);
    text-transform: uppercase;
    padding: 15px 5px 0 0;
    text-align: right;
    text-transform: uppercase;
}

.petitions-header h2, .news-header h2 {
    color: #EBDB53;
    margin: 0;
    font-size: 23px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.petitions-header a, .news-header a{
    margin: 0;
    color: #66C3FF;
    font-size: 19px;
    text-decoration: none;
    border: 1px solid #EBDB53;
    padding: 7px 11px;
    text-align: center;
    display: inline-block;
    border-radius: 10%;
    background-color: rgba(197,70,235,0.7);
}

.petitions-header a:hover, .news-header a:hover{
    background-color: #EBDB53;
}




.display-results .petitions-wrap, .display-results .news-wrap{
    background-color: rgba(71,98,158,.6);
}

.display-results .display-petitions ul, .display-results .display-news ul {
    margin: 3rem 1rem;
}

.display-results .display-petitions ul li, .display-results .display-news ul li {
    margin-top: 3rem;
}


.display-results .display-petitions ul li h3, .display-results .display-news ul li h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 23px;
    color: white;
    text-align: center;
    margin: 9px 35px;
}

.display-results .display-petitions ul li a, .display-results .display-news ul li a{
    color: #EBDB53;
    font-size: 21px;
    text-decoration-color: #5E8AEB;
    padding: 15px 20px;
}

.display-results .display-petitions ul li p, .display-results .display-news .news-wrapper{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #DADFF7;
    background-color:  rgba(196,70,235,.7);
    padding: 5px;
}

.display-results .display-news ul li h4{
    color: #66C3FF;
    font-size: 13px;
    text-align: left;
}


li img {
    max-width: 75%;
}