* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin: 10px 0 50px 0;
}

main {
    text-align: center;
}

form {
    margin: 15px 0;
}

.hidden {
    display: none;
}