* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin: 10px 0 50px 0;
}

.home-select {
    text-align: center;
}

.home-form {
    margin: 20px 0;
}

.hidden {
    display: none;
}

